

html, body {margin: 0; height: 100%; position: relative; overflow: hidden;}

body{
  background-image: url('/img/spotify.jpg');
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #121212;
}

h1{
  font-family: 'Dorsa', Helvetica, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 6.0em;
  color: #1DB954;
}

p{
  font-family:  Helvetica, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 1.2em;
  color: white;
}

.nav-link{
  font-family: Arial, sans-serif;
}

a{
  color: #1DB954;
  border-color: #1DB954;
}
a:hover{
  color: #1DB954;
}
a:hover{
  color: #1DB954;
}
a:active{
  color: #1DB954;
}
#navbar {
  width: 100%;
  display: block;
  col
}

#logo{
  filter: invert(1);
  max-height: 50px;
}

/* Set settings for form */

form{
  width:100%;
  margin: 0 auto;
}

input{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align:center;
  width: 100%;
  border:0;
  background-color: rgba(18, 18, 18, 0);
  color: white;
}

@media (orientation:landscape) {
  input{
    font-size:5vh;
  }
}

@media (orientation:portrait) {
  input{
    font-size:4vw;
  }
}
