@font-face {
  font-family: 'simplificasimplifica';
  src: url('fonts/simplifica/simplifica_typeface-webfont.woff2') format('woff2'),
       url('fonts/simplifica/simplifica_typeface-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mainContainer{
  opacity: 0;
}

#background-image{
  position: absolute;
  opacity: 0;
  color: white;
  width: 2880px;
}

h1{
  font-family: 'Dorsa', Helvetica, sans-serif;
  font-weight:normal;
  font-style:normal;
}

p{
  font-family: 'Open Sans'
}

.modalThumbnail{
  max-width: 100px;
}

#modal-thumbnail-container{
  margin-left: auto;
  margin-right: auto;
}

.nav-link{
  font-family: Arial, sans-serif;
}


@media all and (orientation:portrait) {
  html, body {margin: 0; height: 100%; overflow-x: hidden;}
  .display-picture{
    width: 100%;
  }
}

@media all and (orientation:landscape) {
  html, body {margin: 0; height: 100%; overflow: hidden;}
  #image-container div img{
    border-radius: 0px;
  }
  #image-container{
    text-align: center;
  }
}
