/* xs < 768 */
@media screen and (max-width: 767px) {
    p {
        font-size: 0.7em;
    }
    h1{
        font-size: 4.2rem;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 0.8em;
    }
    h1{
        font-size: 4.6rem;
    }
}

/* md */
@media screen and (min-width: 992px) {
    p {
        font-size: 1.0em;
    }
    h1{
        font-size: 5.0rem;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    p {
        font-size: 1.4em;
    }
    h1{
        font-size: 5.5em;
    }
}

html, body {margin: 0; height: 100%; overflow: hidden;;}

h1{
  font-family: 'Dorsa', Helvetica, sans-serif;
  font-weight:normal;
  font-style:normal;
}

p{
  font-family: 'Open Sans';
  line-height: 1em;
}

.nav-link{
  font-family: Arial, sans-serif;
}

.fluid-container{
  overflow: hidden;
}

.fluid-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat:no-repeat;
    z-index: -1;
}
#mainContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%) !important;
}

a{
  color: #202020;
}
a:hover{
  color: #202020;
}
a:hover{
  color: #202020;
}
a:active{
  color: #202020;
}
#navbar {
  width: 100%;
  display: block;
}

#logo{
  max-height: 50px;
}

#info img{
  display: inline-block;
  width: 75%;
}
#info{
  margin: 0px 10px 0px 0px;
  padding: 5px 5px 5px 5px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, .5);
}
#info div p{
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
