h1{
  font-family: 'Dorsa', Helvetica, sans-serif;
  font-weight:normal;
  font-style:normal;
}

p{
  font-family: 'Open Sans';
}

.nav-link{
  font-family: Arial, sans-serif;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    p {
        font-size: 0.9em;
    }
    h1{
        font-size: 4.2rem;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    h1{
        font-size: 4.6rem;
    }
}

/* md */
@media screen and (min-width: 992px) {
    p {
        font-size: 1.2em;
    }
    h1{
        font-size: 5.0rem;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    p {
        font-size: 1.4em;
    }
    h1{
        font-size: 5.5em;
    }
}

p {

  /*font-size: 2em;*/
  line-height: 1em;
}
a{
  color: #202020;
}
a:hover{
  color: #202020;
}
a:hover{
  color: #202020;
}
a:active{
  color: #202020;
}
#navbar {
  width: 100%;
  display: block;
}
#info img{
  display: inline-block;
  width: 100%;
  /*
  max-width: 300px;
  margin-top: 120px;*/
}
#info div{
  margin: 0px 10px 0px 0px;
  padding: 5px 5px 5px 5px;
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, .5);
}
#info div p{
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
