@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body{
	margin: 0px;
  overflow: hidden;
	font-family: 'Press Start 2P', cursive;
}

#displayGrid{
  width: 500px;
  height: 500px;
}

.grid-container{
	padding: 0;
	display: grid;
}

#invalidMove,
#time{
	color: white;
}

p{
  padding-left: 5px;
  float:left;
}

#GUI-header{
  display: table;
  height: 50px;
  width: 100%;
  background-color: pink;
}


#invalidMove
{
	display: none;
	left: 40px;
}

